<div class="login-card">
    <h1>Sign Up</h1>
    <form class="signup-form">
        <label class="login-label">Username:

            <input class="login-input" type="text" id="username-signup">
        </label>
        <label class="login-label">
            Password:
            <input class="login-input" type="password" id="password-signup">
        </label>
        <button class="btn submit-btn" type="submit">Sign Up</button>
    </form>
</div>

<div class="login-card">
    <h1>Login</h1>
    <form class="login-form">
        <label class="login-label">Username:

            <input class="login-input" type="text" id="username-login">
        </label>
        <label class="login-label">
            Password:
            <input class="login-input" type="password" id="password-login">
        </label>

        <button class="btn submit-btn" type="submit">Login</button>
    </form>
</div>

<script src="/Challenges/Challenge-14/public/js/login.js"></script>